$amarillo : rgb(232, 236, 174);
$rojo : rgb(209, 80, 80);
$verde : rgb(52, 146, 65);
$blanco : rgb(255, 255, 255);

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

@mixin border-radius($radius) {
    border-radius: $radius;
}

@mixin paddings($top, $bottom, $left, $rigth) {
    padding-top: $top;
    padding-bottom: $bottom;
    padding-left: $left;
    padding-right: $rigth;
}

#navegacion{
    background-color: $verde;
}

.btn-rojo{
    background-color: $rojo !important;
    color: $blanco;
}

.margen{
	@include margenes(0, 5px);
}

.tarjeta{
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.parrafo{
    text-align: justify;
}

.hoteles{
    border: 1px solid rgb(79, 106, 187);
    @include border-radius(5px);
}

.descripcion{
    flex: 1 400px;
    @include margenes(15px, 10px);
    @include paddings(0, 20px, 0, 20px);
}

.info{
    width: 100%;
    background-color: rgb(79, 106, 187);
    color: $blanco;
}

.info:hover{
    background-color: rgb(54, 78, 148);
    color: $blanco;
}

footer{
    background-color: $amarillo;
}

.footer{
    border : 1px solid black;
}

.izquierda{
    text-align: left;
}

.centro{
    text-align: center;
}

.derecha{
    text-align: right;
}

.banner{
    background-image: url(../assets/banner.jpg) !important;
    height: 500px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.texto-banner{
    color: $blanco;
    @include paddings(25px, 25px, 25px, 25px);
    @include border-radius(5px);
    background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width : 500px){
    .izquierda{
        text-align: center;
    }
    .derecha{
        text-align: center;
    }
}