#navegacion {
  background-color: #349241; }

.btn-rojo {
  background-color: #d15050 !important;
  color: white; }

.margen {
  margin-top: 0;
  margin-bottom: 5px; }

.tarjeta {
  border: 1px solid rgba(0, 0, 0, 0.2); }

.parrafo {
  text-align: justify; }

.hoteles {
  border: 1px solid #4f6abb;
  border-radius: 5px; }

.descripcion {
  flex: 1 400px;
  margin-top: 15px;
  margin-bottom: 10px;
  padding-top: 0;
  padding-bottom: 20px;
  padding-left: 0;
  padding-right: 20px; }

.info {
  width: 100%;
  background-color: #4f6abb;
  color: white; }

.info:hover {
  background-color: #364e94;
  color: white; }

footer {
  background-color: #e8ecae; }

.footer {
  border: 1px solid black; }

.izquierda {
  text-align: left; }

.centro {
  text-align: center; }

.derecha {
  text-align: right; }

.banner {
  background-image: url(../assets/banner.jpg) !important;
  height: 500px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat; }

.texto-banner {
  color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8); }

@media screen and (max-width: 500px) {
  .izquierda {
    text-align: center; }
  .derecha {
    text-align: center; } }
